#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 64px;
  width: 64px;
  text-align: center;
  opacity: .8;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel .item {
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;

}

.carousel-inner>.item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-inner>.item:first-child {
  z-index: 1998; 
}

.carousel-inner>.item.active {
  z-index: 2000;
}

.carousel-inner>.item.active + .item {
  z-index: 1999;
}

/* Jonatan Edit */
.logo {
    margin: 10px
}

.has-navbar-top .app-body {
    padding-top: 58px !important;
    padding-bottom: 62px !important;
}

.profile-tab {
    height: 61px;
    background: url('icons/profile.png') no-repeat center !important;
    background-size: contain !important;
}
.profile-tab.active {
    background: url('icons/profile_active.png') no-repeat center !important;
    background-size: contain !important;
}

.jobs-tab {
    background: url('icons/jobs.png') no-repeat center !important;
    background-size: contain !important;
}
.jobs-tab.active {
    background: url('icons/jobs_active.png') no-repeat center !important;
    background-size: contain !important;
}

.agent-tab {
    background: url('icons/agent.png') no-repeat center !important;
    background-size: contain !important;
}
.agent-tab.active {
    background: url('icons/agent_active.png') no-repeat center !important;
    background-size: contain !important;
}

.managment-tab {
    background: url('icons/managment.png') no-repeat center !important;
    background-size: contain !important;
}
.managment-tab.active {
    background: url('icons/managment_active.png') no-repeat center !important;
    background-size: contain !important;
}

.messeges-tab {
    background: url('icons/messeges.png') no-repeat center !important;
    background-size: contain !important;
}
.messeges-tab.active {
    background: url('icons/messeges_active.png') no-repeat center !important;
    background-size: contain !important;
}

.navbar-absolute-top {
    background: #0080c4;
    border: none;
}

.scrollable-content {
    background: #EBEBEB;
}

.panel-group .panel {
    margin-bottom: 4px;
    border-radius: 0;
}

.panel-title {
    color: #333;
    font-size: 2em;
}

.panel-default>.panel-heading {
    position: relative !important;
    padding: 0 15px !important;
    background: #FFF;
}

.panel-default {
    border-color: #ccc;
}

.panel-body {
    padding: 5px !important;
    padding-top: 0 !important;
}

.panel-body div {
    padding: 0 10px 10px;
}

.panel-body table {
    width: 100%
}

th {
    vertical-align: top;
    padding-left: 10px;
}

html .panel-group .panel-title {
    line-height: 45px;
}

hr {
    margin: 0 0 6px 0;
    border-color: #ccc;
}

#profile_picture {
    border: 1px solid #ccc;
    max-width: 40%;
    margin-bottom: 20px;
}

#username_container {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 10px 20px 0;
    font-size: 40px;
}

.edit_button {
    position: absolute;
    width: 65px;
    top: -35px;
    left: 5px;
}

.sidebar-toggle {
    margin-top: 30%;
    color: #fff !important;
    line-height: 100% !important;
    font-size: 24px;

}

@media (min-width: 992px) {
    .sidebar-toggle {
        display: inline-block;
    }
}

.app {
    background: #ccc;
}

.panel-collapse.in {
    position: relative
}

.star {
    position: absolute;
    left: 5px;
    top: 10px;
}

.star img {
    height: 22px;
}

.apply_job {
    float: left !important;
    padding: 15px 0 0 0 !important;
}

.jobs-username #profile_picture {
    max-width: 20%;
}

.job-btn {
    border-radius: 0 !important;
}